body {
    position: relative;
    font-size: 12px;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 5%;
    background-color: aliceblue;
    z-index: 99;
    margin-top: -50px;
}

#menu_control {
    display: none;
}

#menu_control:checked~nav {
    display: block;
    left: 0px;
}

#menu_control:checked~.menu_icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='m12 14.122l5.303 5.303a1.5 1.5 0 0 0 2.122-2.122L14.12 12l5.304-5.303a1.5 1.5 0 1 0-2.122-2.121L12 9.879L6.697 4.576a1.5 1.5 0 1 0-2.122 2.12L9.88 12l-5.304 5.304a1.5 1.5 0 1 0 2.122 2.12z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    z-index: 100;
    position: fixed;
}

.menu_icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M2 3.75A.75.75 0 0 1 2.75 3h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75m0 4A.75.75 0 0 1 2.75 7h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 7.75m0 4a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #29C8FF;
    
}

nav {
    background-image: linear-gradient(150deg, rgba(227, 248, 255, 0.80) 0%, #29c8ff 100%);
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 20% 5% 5% 5%;
    z-index: 99;
    display: none;
    top: 0px;
    left: -70vh;
}
nav ul {
    width: 100%;
    height: 100%;
    background-color: transparent;
}
nav ul li{
    font-size: 1.8rem;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-bottom: transparent 0px solid;
    margin-bottom: 5%;
    transition: all 0.3s 0s ease-in-out ;
}
nav ul li a:hover{
    border-bottom: #29C8FF 1px solid;
    color: #29C8FF;
}

.logo_img {
    width: 5.5rem;
    height: 1.2rem;
}

.logo_img a {
    width: 5.5rem;
    height: 1.2rem;
}

.logo_img img {
    width: 5.5rem;
    height: 1.2rem;
}

.nav_login {
    width: 1.5rem;
    height: 1.5rem;
}

.login_icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23000' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M24 20a7 7 0 1 0 0-14a7 7 0 0 0 0 14M6 40.8V42h36v-1.2c0-4.48 0-6.72-.872-8.432a8 8 0 0 0-3.496-3.496C35.92 28 33.68 28 29.2 28H18.8c-4.48 0-6.72 0-8.432.872a8 8 0 0 0-3.496 3.496C6 34.08 6 36.32 6 40.8'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #29C8FF;
}

.banner {
    position: relative;
    font-size: 2rem;
    margin-top: 50px;
}

.banner_img {
    width: 100%;
}

.banner_img img {
    width: 100%;
    object-fit: cover;
}

.banner_text1 p {
    position: absolute;
    margin: -30% 0 0 10%;
    font-weight: 700;
    font-size: 1.2rem;
}

.banner_text2 p {
    position: absolute;
    margin: -23% 0 0 10%;
    font-weight: 900;
    font-size: 1.8rem;
}

.item_meaning {
    width: 100%;
    height: 300px;
    background-color: aqua;
}

.item {
    width: 100%;
    height: 300px;
    background-color: #fff;
    /* border: black solid 1px; */
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item_title {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}

.item_content {
    width: 100%;
}

.meaning_content {
    text-align: center;
    font-size: 18px;
}

.color_content {
    width: 150px;
    height: 150px;
    background-color: #29C8FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #29C8FF;
    color: aliceblue;
    font-size: 12px;
}

.about_block{
    background-image: linear-gradient(150deg, #D5F5F2 0%, #29c8ff 100%);
    width: 100vw;
    height: 100%;
    padding-top: 20px;
    margin-top: 50px;
}
.about_block h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    font-weight: 900;
}
.info_block{
    width: 90vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.489);
    backdrop-filter: invert(5%);
    margin: 10% auto 0 auto;
    border: #fff 1px solid;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    padding: 0 30px;
}
.info{
    margin: 30px auto;
    padding-bottom: 20px;
    border-bottom: #fff 1px solid;
}
.info_img{
    background-image: url(img/portfolio-img.webp);
    width: 10rem;
    height: 10rem;
    margin: 0 auto 10px auto;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
    border: #fff 1px solid;
}
.info_name{
    color: black;
    text-align: center;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info_name p{
    border-left: #fff 2px solid;
    border-right: #fff 2px solid;
    background-color: #ffffff30;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-weight: 700;
}
.info_title{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: 700;
}
.info_title p{
    display: inline-block;
    padding: 5px;
    border-bottom: #fff 1px solid;
}
.info_content{
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 30px;
}
.info_content p{
    font-weight: 300;
}
.info_date{
    font-size: 0.6rem;
    color: #7d7d7d;
    margin-top: 5px;
    font-weight: 200;
}
.info_content ul li{
    margin-bottom: 5px;
}