body {
    position: relative;
    font-size: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 5%;
    background-color: aliceblue;
    z-index: 99;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
}

#menu_control {
    display: none;
}

#menu_control:checked~nav {
    display: block;
    left: 0px;
}

#menu_control:checked~.menu_icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='m12 14.122l5.303 5.303a1.5 1.5 0 0 0 2.122-2.122L14.12 12l5.304-5.303a1.5 1.5 0 1 0-2.122-2.121L12 9.879L6.697 4.576a1.5 1.5 0 1 0-2.122 2.12L9.88 12l-5.304 5.304a1.5 1.5 0 1 0 2.122 2.12z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    z-index: 100;
    position: fixed;
}

.menu_icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M2 3.75A.75.75 0 0 1 2.75 3h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75m0 4A.75.75 0 0 1 2.75 7h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 7.75m0 4a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #29C8FF;

}

nav {
    background-image: linear-gradient(150deg, rgba(227, 248, 255, 0.80) 0%, #29c8ff 100%);
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 20% 5% 5% 5%;
    z-index: 99;
    display: none;
    top: 0px;
    left: 100vh;
}

nav ul {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

nav ul li {
    font-size: 1.8rem;
    font-weight: 900;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-bottom: transparent 0px solid;
    margin-bottom: 5%;
    transition: all 0.3s 0s ease-in-out;
}

nav ul li a:hover {
    border-bottom: #29C8FF 1px solid;
    color: #29C8FF;
}

.logo_img {
    width: 5.5rem;
    height: 1.2rem;
}

.logo_img a {
    width: 5.5rem;
    height: 1.2rem;
}

.logo_img img {
    width: 5.5rem;
    height: 1.2rem;
}

.nav_login {
    width: 1.5rem;
    height: 1.5rem;
}

.login_icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23000' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M24 20a7 7 0 1 0 0-14a7 7 0 0 0 0 14M6 40.8V42h36v-1.2c0-4.48 0-6.72-.872-8.432a8 8 0 0 0-3.496-3.496C35.92 28 33.68 28 29.2 28H18.8c-4.48 0-6.72 0-8.432.872a8 8 0 0 0-3.496 3.496C6 34.08 6 36.32 6 40.8'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #29C8FF;
}

.banner {
    position: relative;
    font-size: 2rem;
    margin-top: 50px;
}

.banner_img {
    width: 100%;
    height: 55vw;
    background-image: url(img/toby-newcolor-background.SVG);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.banner_text1 p {
    position: absolute;
    font-weight: 700;
    font-size: 5vw;
    top: 35vw;
    left: 7vw;
}

.banner_text2 p {
    position: absolute;
    font-weight: 900;
    font-size: 7vw;
    top: 42vw;
    left: 7vw;
}

.item {
    width: 100%;
    padding: 2vw;
}

.item_title {
    width: 100%;
    height: 30%;
    font-size: 6vw;
    text-align: center;
    font-weight: 700;
    margin: 3rem 0;
}

.item_content {
    width: 100%;
    height: 70%;
    margin: 6rem 0;
}

.concept_formula {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
}

.formula_name {
    font-weight: 700;
    font-size: 6vw;
    padding-top: 1vw;
    margin-right: 2vw;
}

.formula_plus {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5v14m-7-7h14'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-left: 2vw;
    margin-right: 2vw;
}

.formula_storm {
    display: inline-block;
    width: 8vw;
    height: 8vw;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M16 21a5 5 0 1 1 5-5a5.006 5.006 0 0 1-5 5m0-8a3 3 0 1 0 3 3a3.003 3.003 0 0 0-3-3'/%3E%3Cpath fill='%23000' d='m22.652 4.182l-2.177 2.514l-1.404 1.621l1.715 1.288A7.94 7.94 0 0 1 23.996 16l.001.058l.002.041c.018.432.241 10.111-14.654 11.722l2.18-2.517l1.404-1.621l-1.715-1.288A7.94 7.94 0 0 1 8.004 16l-.001-.058L8 15.901c-.018-.431-.24-10.094 14.651-11.719M24.998 2l-.05.001C5.254 2.915 6.005 16 6.005 16a9.98 9.98 0 0 0 4.01 7.995l-3.777 4.36A1.004 1.004 0 0 0 7.002 30l.05-.001C26.747 29.085 25.996 16 25.996 16a9.98 9.98 0 0 0-4.009-7.995l3.776-4.36A1.004 1.004 0 0 0 24.998 2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-right: 2vw;
}

.formula_equals {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M18 9.998H6a1 1 0 1 1 0-2h12a1 1 0 0 1 0 2m0 6H6a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-right: 2vw;
}

.formula_logo {
    background-image: url(img/toby5-horizon-newcolor.png);
    background-size: cover;
    width: 25vw;
    height: 12vw;
    margin-left: 2vw;
}

.meaning_content {
    text-align: center;
    font-size: 5vw;
    font-weight: 900;
}

.meaning_content p {
    display: inline-block;
    width: auto;
    padding: 5vw;
    border-left: #29C8FF 2px solid;
    border-right: #29C8FF 2px solid;
    border-radius: 50px;
    background-image: linear-gradient(150deg, rgba(227, 248, 255, 0.30) 0%, rgba(41, 200, 255, 0.20) 100%);
    color: #29C8FF;
}

.color_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_content_colornum {
    width: 150px;
    height: 150px;
    background-color: #29C8FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 700;
}

.footer {
    width: 100%;
    height: 60vw;
    background-color: #29C8FF;
    color: aliceblue;
    padding-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
}

.footer_img {
    background-image: url(img/toby5-horizon-white.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 7.5rem;
    height: 3.6rem;
    margin: auto;
    margin-bottom: 1.5rem;
}

.footer_menu {
    width: 100%;
    margin-bottom: 1.5rem;
}

.footer_menu ul {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-around;
    margin: 0 auto;
}

.footer_menu ul a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}

.footer_contact {
    display: flex;
    height: 8vw;
    margin: 0 25vw 5vw 25vw;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20vw;
}

.contact_icon {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m7 9l3.75 3a2 2 0 0 0 2.5 0L17 9m4 8V7a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-right: 2vw;
    color: #29C8FF;
}

.contact_mail {
    font-size: 3vw;
    font-weight: 900;
    color: #29C8FF;
    padding: 2vw 0;
    line-height: 8vw;
}

.copyright {
    font-weight: 200;
    font-size: 0.6rem;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 12%;
}

/*about page*/

.article_block {
    background-color: #fff;
    width: 100vw;
    min-height: 90vh;
    padding-top: 30vw;
}

.article_block h1 {
    font-size: 8vw;
    text-align: center;
    font-weight: 900;
}

.about_block {
    background-image: linear-gradient(150deg, #D5F5F2 0%, #29c8ff 100%);
}

.info_block {
    width: 90vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.489);
    backdrop-filter: invert(5%);
    margin: 10vw auto 10vw auto;
    border: #fff 1px solid;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    padding: 20px 30px;
}

.info_me {
    margin: 30px auto;
    padding-bottom: 20px;
    border-bottom: #fff 1px solid;
}

.info_img {
    background-image: url(img/portfolio-img-3.jpg);
    width: 10rem;
    height: 10rem;
    margin: 0 auto 10px auto;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
    border: #fff 1px solid;
}

.info_c_name{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 3vw 0 0.5vw 0;
    letter-spacing: 3px;
}

.info_name {
    color: black;
    text-align: center;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_name p {
    border-left: #fff 2px solid;
    border-right: #fff 2px solid;
    background-color: #ffffff30;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-weight: 700;
}

.info_title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.info_title p {
    display: inline-block;
    padding: 5px;
    border-bottom: #fff 1px solid;
}

.info_content {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.info_content p {
    font-weight: 300;
}

.info_date {
    font-size: 0.6rem;
    color: #7d7d7d;
    margin-top: 5px;
    font-weight: 200;
}

.info_content ul li {
    margin-bottom: 5px;
}



/*portfolio page*/

.portfolio_block {
    background-color: transparent;
    width: 100%;
}

.link_block {
    width: 100%;
    margin: 0;
}

.portfolio_link {
    width: 90vw;
    height: 30vw;
    background-image: linear-gradient(120deg, #93efbc 30%, #57d5ff 100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
    transition: all 0.5s 0s ease-in-out;
    border-radius: 20px;
    border: #fff 1px solid;
    margin: 10vw auto 10vw auto;
}

.portfolio_link a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.portfolio_link:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
}

.portfolio_link_filter {
    width: 100%;
    height: 100%;
    transition: all 1s 0s ease-in-out;
}

.portfolio_link_filter:hover {
    backdrop-filter: hue-rotate(180deg);
}
.portfolio_link_filter a{

}

.option_block {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 3vw;
}

.opt_img_block {
    width: 42%;
    height: 100%;
}

.opt_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.opt_img_1 {
    background-image: url(img/calculator-banner.png);
}

.opt_img_2 {
    background-image: url(img/credit-banner.png);
}

.opt_img_3 {
    background-image: url(img/dumpling-2.png);
}

.opt_content_block {
    width: 55%;
    height: 85%;
    margin-left: 3vw;
}

.opt_title {
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.opt_describe {
    font-weight: 200;
    color: #5c5c5c;
    font-size: 0.7rem;
}

@media (min-width:768px) {
    body {
        font-size: 12px;
    }

    .menu_icon {
        display: none;
    }

    header {
        height: 70px;
        justify-content: flex-start;
    }

    .logo_img {
        width: 100%;
    }

    nav {
        left: 0px;
        display: block;
        position: static;
        width: auto;
        height: 100%;
        padding: 0;
        background-image: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    nav ul li {
        font-size: 1rem;
        margin-right: 2rem;
    }

    nav ul li a {
        border-bottom: transparent 0px solid;
        margin-bottom: 0px;
    }

    .banner {
        height: 50vw;
        max-height: 700px;
    }

    .banner_text1 p {
        font-size: 2vw;
        top: 20vw;
        left: 7vw;
    }

    .banner_text2 p {
        font-size: 3vw;
        top: 25vw;
        left: 7vw;
    }

    .banner_img {
        max-height: 50vw;
        max-height: 700px;
        background-position: bottom;
        background-size: cover;
        margin: auto;
    }

    .item {
        height: 50vw;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 100%;
        padding: 0;
    }

    .item_title {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .item_content {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item_title p {
        width: 100%;
        font-size: 5rem;
        padding: 2vw;
        line-height: 7vw;
        color: #fff;
    }

    .concept_title {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: right;
    }

    .concept_formula {
        width: 100%;
        height: 100%;
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .formula_name {
        font-size: 3vw;
        margin: 0;
        margin-right: 30px;
    }

    .formula_icon {
        width: 2.1vw;
        height: 2.1vw;
        margin: 0;
        margin-right: 30px;
    }

    .formula_storm {
        width: 3.5vw;
        height: 3.5vw;
        margin: 0;
        margin-right: 30px;
    }

    .formula_logo {
        width: 10.35vw;
        height: 5vw;
        margin: 0;
        margin-left: 10px;
    }

    .meaning_title {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }

    .meaning_content {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 2vw;
    }

    .meaning_content p {
        border-left: #29C8FF 0.2vw solid;
        border-right: #29C8FF 0.2vw solid;
        border-radius: 10vw;
        background-image: linear-gradient(150deg, rgba(227, 248, 255, 0.30) 0%, rgba(41, 200, 255, 0.20) 100%);
        color: #29C8FF;
    }

    .color_title {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: right;
    }

    .color_content {
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .color_content_colornum {
        width: 15vw;
        height: 15vw;
    }

    .color_content_colornum p {
        font-size: 1.2vw;
    }

    .footer {
        padding: 0;
        width: 100%;
        height: 11vw;
        display: block;
    }

    .footer_nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0;
        height: 88%;
    }

    .footer_img {
        width: 6.2vw;
        height: 3vw;
        margin: 0;
    }

    .footer_menu {
        width: auto;
        height: 100%;
        margin: 0;
    }

    .footer_menu ul {
        align-items: center;
        margin: 0;
        margin-right: 1vw;
    }

    .footer_menu ul a {
        margin-right: 10vw;
    }

    .footer_contact {
        height: 2vw;
        margin: 0;
    }

    .contact_icon {
        width: 1.5vw;
        height: 1.5vw;
        margin: 0;
        margin: 0 0.5vw;
    }

    .contact_mail {
        font-size: 0.8vw;
        line-height: 2vw;
        margin-right: 0.5vw;
    }

    .copyright {
        font-weight: 200;
        font-size: 0.6rem;
        height: 12%;
        display: flex;
        justify-content: end;
        align-items: end;
        margin-top: -0.1vw;
    }

    /*About Page*/

    .article_block {
        padding: 150px 0;
        max-width: 100%;
        min-height: 100vh;
    }

    .article_block h1 {
        font-size: 3.5rem;
        text-align: center;
        font-weight: 900;
    }

    .about_block {
        background-image: linear-gradient(150deg, #D5F5F2 0%, #29c8ff 100%);
    }

    .info_block {
        display: flex;
        max-width: 1200px;
        margin: 2vw auto;
        border: #fff 1px solid;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
        padding: 2vw;
    }

    .info_me {
        width: 30%;
        padding-bottom: 0;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info_img {
        width: 20vw;
        height: 20vw;
        max-width: 250px;
        max-height: 250PX;
        margin: 0 auto 10px auto;
    }

    .info_c_name{
        margin: 0.5vw 0 0.2vw 0;
        font-size: 1.8rem;
    }

    .info_name {
        color: black;
        text-align: center;
        width: 100%;
        height: 2rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_name p {
        border-left: #fff 2px solid;
        border-right: #fff 2px solid;
        background-color: #ffffff30;
        padding: 0.5rem 1.5rem;
        border-radius: 20px;
        font-weight: 700;
    }

    .info_introduce {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info_title {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 15px;
        font-weight: 700;
    }

    .info_title p {
        display: inline-block;
        padding: 5px;
        border-bottom: #fff 1px solid;
    }

    .info_content {
        text-align: center;
        font-size: 0.8rem;
        margin-bottom: 30px;
    }

    .info_content p {
        font-weight: 300;
    }

    .info_date {
        font-size: 0.6rem;
        color: #7d7d7d;
        margin-top: 5px;
        font-weight: 200;
    }

    .info_content ul li {
        margin-bottom: 5px;
    }

    
    /*portfolio page*/

    .portfolio_block {
        background-color: transparent;
        width: 100%;
    }

    .link_block {
        max-width: 1200px;
        margin: 0 auto;
    }

    .portfolio_link {
        width: 80vw;
        height: 23vw;
        max-width: 1000px;
        max-height: 250px;
        margin: 3vw auto;
    }

    .portfolio_link a {
    }

    .portfolio_link:hover {
    }

    .portfolio_link_filter {
    }

    .portfolio_link_filter:hover {

    }

    .portfolio_link_filter a{
    }

    .option_block {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 1vw 3vw;
    }

    .opt_img_block {
        width: 42%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .opt_img {
    }

    .opt_img_1 {        
    }

    .opt_img_2 {
    }

    .opt_img_3 {
    }

    .opt_content_block {
        margin-left: 1vw;
    }

    .opt_title {
        font-weight: 700;
        font-size: 1.8rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .opt_describe {
        font-weight: 200;
        color: #5c5c5c;
        font-size: 1rem;
    }
}